* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(95, 95, 95);
    color: antiquewhite;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;

}

header {
    margin-top: 2rem;
    margin-bottom: 1rem;

    display: block;
    text-transform: uppercase;
}

main {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.divisor {
    width: 100%;
    border: none;
    border-top: 4px solid black;
    margin: 1rem 0rem;
}

#final_payment {
    margin: 0;
    text-align: left;
}